 .font img{
        font-size: 90px;
        
        color: rgb(34, 99, 34);
    }
    .font i.d{
        font-size: 90px;
       color: rgb(20, 20, 20);
    }
     .font i.m{
        font-size: 90px;
       color: rgb(214, 109, 68);
    }