@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    body{
            margin: 0;
            padding: 0;
        }
      .hello h3 {
         padding-left: 2%;
         margin-top: 4%;
      }
      .hello p {
         padding-left: 2%;
         margin-top: 4%;
      }
      .hello {
        margin-top: 10px;
        justify-content: center;
      }
        b{
            color: cornflowerblue;
        }
    
  
  .grow span{
    color: rgb(163, 69, 15);
  }
    
  .bor a:hover{
    color: #3498db !important;
    font-weight: bold;
  }
  .menu_active{
    font-weight: bold;
      border-bottom: 1px solid red;
  }
  .carddek{
    width: 18rem;
  }
  .technos p{
    word-spacing: 7px;
    letter-spacing: 3px;
  }
  .technos h5{
    color: rgb(50, 78, 231);
  }
   .meet img{
    border-radius: 50%;
  }